<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.login }}</td>
        <td><a href="mailto:{{ usuario.login }}">{{ usuario.senha }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="length">  </ngb-pagination>
